@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="gridContainer" class="pb-3">
<h2>Categories</h2>
</div>

<div id="gridContainer">

<div id="card-container">
<div id="newCategory" class="form-floating mb-3 gridFullRow d-flex">
    <input type="email" class="form-control" id="addCategory" placeholder="name@example.com">
    <label for="floatingInput">New Category</label>
    <button id="addCategoryButton" type="button" class="btn btn-outline-success col-2">Add Category</button>
</div>

</div>
</div>

@section Scripts
{
    <script src="js/categories.js"></script>
}