@{
    ViewData["Title"] = "Home Page";
}
@*
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <div id="content" class="row">   
        <div class="form-group">
            <label class="form-label" for="fileUpload">Upload a logo:</label>
            <input type="file" id="fileUpload" class="form-control">
        </div>
        <div class="form-group">
            <button id="btnUpload" class="btn btn-outline-dark mt-2">Upload</button>
            </div>
        <div id="thumbs"></div>
    </div> 
    
</div>*@

@section Scripts
{
    <script src="js/categories.js"></script>
}
